* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

img {
  display: block; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

body {
  font: 18px "GothamBook", sans-serif;
  color: #fff; }

.container {
  width: 80%;
  margin: 0 auto; }

.header {
  background: url("../img/backgrounds/header-bg.png") 50% no-repeat, linear-gradient(45deg, #55b7ff, #7e5aff);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative; }
  .header__arrow {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 1s ease-out; }
    .header__arrow:hover {
      transform: scale(1.2);
      opacity: 0.8;
      cursor: pointer; }
    .header__arrow svg {
      fill: #fff;
      margin: 0 auto;
      width: 14px;
      display: flex;
      align-items: center;
      height: 100%; }
  .header__slider {
    height: 100%;
    margin-bottom: 0 !important;
    display: flex !important;
    align-items: center; }
    .header__slider .slick-dots {
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: 0;
      width: auto;
      top: 0;
      bottom: 0;
      margin-right: 40px; }
      .header__slider .slick-dots li {
        margin-bottom: 40px; }
        .header__slider .slick-dots li:last-child {
          margin-bottom: 0; }
        .header__slider .slick-dots li button:before {
          font-size: 20px; }

.nav-wrapper {
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  font-size: 14px;
  z-index: 1; }

.circle {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 14px; }

.social, .menu {
  display: flex; }

.menu {
  flex-grow: 1;
  justify-content: space-around; }
  .menu__elem {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase; }
    .menu__elem:hover {
      opacity: 0.8;
      cursor: pointer;
      text-decoration: underline; }
      .menu__elem:hover .circle {
        background-color: #fff; }

.social__elem {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  position: relative; }
  .social__elem:last-child {
    margin-right: 0; }
  .social__elem:hover {
    opacity: 0.8;
    cursor: pointer; }
    .social__elem:hover:after {
      content: attr(data-title);
      z-index: 1;
      font-size: 11px;
      padding: 5px 10px;
      border: 1px solid #fff;
      border-radius: 20px;
      position: absolute;
      bottom: -30px; }
  .social__elem svg {
    fill: #fff;
    margin: 0 auto;
    width: 20px;
    display: flex;
    align-items: center;
    height: 100%; }

.slider__elem {
  display: flex !important;
  flex-direction: column;
  align-items: center; }
.slider__title, .slider__desc {
  text-transform: uppercase; }
.slider__title {
  letter-spacing: 0.05em;
  font-family: "GothamBold", sans-serif;
  font-size: 80px; }
.slider__desc {
  letter-spacing: 0.3em; }

.section {
  color: #2c4058;
  padding: 140px 0; }
  .section__row {
    margin-top: 160px; }
  .section__title {
    font-family: "GothamBold", sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    text-align: center; }
  .section__col {
    margin-right: 10%;
    float: left;
    width: 45%; }
    .section__col:last-child {
      margin-right: 0; }
    .section__col--reverse {
      float: right;
      margin-right: 0;
      margin-left: 10%; }
      .section__col--reverse:last-child {
        margin-left: 0; }
  .section__desc {
    font-size: 22px;
    text-transform: uppercase; }
  .section__text {
    font-family: "OpenSans-Regular";
    color: #4b5562;
    line-height: 1.6em; }
  .section__btn {
    margin: 35px 0; }
  .section__addressPoint {
    display: flex;
    align-items: center;
    font-family: OpenSans-Italic;
    line-height: 1.6em; }
    .section__addressPoint svg {
      fill: #2c4058;
      width: 16px;
      height: 16px; }

.btn {
  color: #2c4058;
  padding: 20px 40px;
  border: 1px solid #2c4058;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  font-size: 14px;
  font-family: "GothamBook";
  text-transform: uppercase; }
  .btn:hover {
    background-color: #2c4058;
    color: #fff;
    opacity: 0.7; }
  .btn:focus {
    opacity: 0.4; }

.title--underline {
  position: relative; }
  .title--underline:before {
    content: "";
    width: 100px;
    border-top: 1px solid #2c4058;
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: auto; }
.title--info {
  text-align: left; }

.image__item {
  width: 100%;
  transition: transform 1s ease-in-out;
  cursor: pointer; }
  .image__item--left:hover {
    transform: translate3d(-25%, -20%, 0px); }
  .image__item--right:hover {
    transform: translate3d(25%, -20%, 0px); }
.image__wrap {
  position: relative; }
.image__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20%;
  z-index: -1; }
  .image__shadow--left {
    left: -25%;
    background-color: #55b7ff; }
  .image__shadow--right {
    right: -25%;
    background-color: #7e5aff; }

.latestNews {
  background: url("../img/backgrounds/latestNews.png") 50% no-repeat, linear-gradient(45deg, #7e5aff, #55b7ff);
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
