@mixin hoverEffect{
  opacity: 0.8;
  cursor: pointer;
}
$mainColorLight: #55b7ff;
$mainColorDark: #7e5aff;
$textColor: #2c4058;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

img {display: block}

.logo {
  display: block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font: 18px "GothamBook", sans-serif;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  &--footer {
    width: 50%;
  }
}

.arrow {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  transition: all 1s ease-out;
  &:hover {
    transform: scale(1.2);
    @include hoverEffect;
  }
  svg {
    fill: #fff;
    margin: 0 auto;
    width: 14px;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &--left {
    left: -70px;
    transform: rotate(90deg);
    &:hover {
      transform: rotate(90deg);
    }
  }
  &--right {
    right: -40px;
    transform: rotate(-90deg);
    &:hover {
      transform: rotate(-90deg);
    }
  }
}

.header {
  //background: url("../img/backgrounds/header-bg.png") 50% no-repeat, linear-gradient(45deg, $mainColorLight, $mainColorDark);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  &__arrow {
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
  }
  &__slider {
    height: 100%;
    margin-bottom: 0 !important;
    display: flex !important;
    align-items: center;
    .slick-dots {
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: 0;
      width: auto;
      top: 0;
      margin-right: 40px;
      & li {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
         button:before {
          font-size: 20px;
        }
      }
    }
  }
}

.nav-wrapper {
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  font-size: 14px;
  z-index: 1;
}

.circle {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 14px;
}

.social, .menu {
  display: flex;
}

.menu {
  flex-grow: 1;
  justify-content: space-around;
  &__elem {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;
    & a {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      @include hoverEffect;
      text-decoration: underline;
      & .circle {
        background-color: #fff;
      }
    }
  }
}

.social {
  &__elem {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      @include hoverEffect;
      &:after {
        content: attr(data-title);
        z-index: 1;
        font-size: 11px;
        padding: 5px 10px;
        border: 1px solid #fff;
        border-radius: 20px;
        position: absolute;
        bottom: -30px;
      }
    }
    svg {
      fill: #fff;
      margin: 0 auto;
      width: 20px;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}

.slider {
  &__elem {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    height: 100vh !important;
    width: 100%;
    justify-content: center;
  }
  &__title, &__desc {
    text-transform: uppercase;
  }
  &__title {
    letter-spacing: 0.05em;
    font-family: "GothamBold", sans-serif;
    font-size: 80px;
  }
  &__desc {
    letter-spacing: 0.3em;
  }
}

.section {
  color: $textColor;
  padding: 140px 0;
  &--footer {
    padding: 0;
  }
  &__row {
    margin-top: 160px;
  }
  &__title {
    font-family: "GothamBold", sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
  }
  &__col {
    margin-right: 10%;
    float: left;
    width: 45%;
    &:last-child {
      margin-right: 0;
    }
    &--reverse {
      float: right;
      margin-right: 0;
      margin-left: 10%;
      &:last-child {
        margin-left: 0;
      }
    }
  }
  &__desc {
    font-size: 22px;
    text-transform: uppercase;
  }
  &__text {
    font-family: "OpenSans-Regular";
    color: #4b5562;
    line-height: 1.6em;
  }
  &__btn {
    margin: 35px 0 ;
  }
  &__addressPoint {
    display: flex;
    align-items: center;
    font-family: OpenSans-Italic;
    line-height: 1.6em;
    svg {
      fill: $textColor;
      width: 16px;
      height: 16px;
    }
  }
}

.btn {
  color: $textColor;
  padding: 20px 40px;
  border: 1px solid $textColor;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  font-size: 14px;
  font-family: "GothamBook";
  text-transform: uppercase;
  &:hover {
    background-color: $textColor;
    color: #fff;
    opacity: 0.7;
  }
  &:focus {
    opacity: 0.4;
  }
  &--gallery {
    margin: 35px auto;
    display: block;
  }
}

.title {
  &--underline {
    position: relative;
    &:before {
      content: "";
      width: 100px;
      border-top: 1px solid $textColor;
      height: 1px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: -20px;
      margin: auto;
    }
  }
  &--news {
    color: #fff;
    margin-bottom: 100px;
    &:before {
      border-top: 1px solid #fff;
    }
  }
  &--info {
    text-align: left;
  }
}

.image {
  &__item {
    width: 100%;
    transition: transform 1s ease-in-out;
    cursor: pointer;
    &--left:hover {
      transform: translate3d(-25%, -20%, 0px);
    }
    &--right:hover {
      transform: translate3d(25%, -20%, 0px);
    }
  }
  &__wrap {
    position: relative;
  }
  &__shadow {
     position: absolute;
     width: 100%;
     height: 100%;
     top: -20%;
     z-index: -1;
    &--left {
      left: -25%;
      background-color: $mainColorLight;
    }
    &--right {
      right: -25%;
      background-color: $mainColorDark;
    }
   }
}

.news {
  background: url("../img/backgrounds/latestNews.png") 50% no-repeat, linear-gradient(45deg, $mainColorDark, $mainColorLight);
  background-size: cover;
  &__slider {
    display: flex;
    & .slick-list .slick-track {
      display: flex;
      & .slick-slide {
        height: auto;
      }
    }
    .slick-dots {
      bottom: -60px;
      display: flex;
      justify-content: center;
      right: 0;
      width: auto;
      left: 0;
      margin-top: 40px;
      & li {
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
        button:before {
          font-size: 20px;
        }
      }
    }
  }
  &__elem {
    position: relative;
    background-color: #fff;
    width: 370px;
    margin-right: 30px;
    flex-direction: column;
    display: flex !important;
    cursor: pointer;
    transition: all .3s ease-in;
    &--hover {
      opacity: 0.5;
    }
  }
  &__image {
    max-height: 240px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &__info {
    padding: 25px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-family: "GothamBold";
    font-size: 22px;
    line-height: 1.5em;
  }
  &__text {
    font-family: "OpenSans-Regular";
    line-height: 1.6em;
    flex-grow: 1;
  }
  &__arrow {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &__add {
    z-index: 1;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    top: 40px;
    cursor: pointer;
    & img {
      margin: 0 auto;
    }
  }
}

.person {
  margin-top: 35px;
  display: flex;
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
  }
  &__name {
    text-transform: uppercase;
  }
  &__date {
    color: $mainColorLight;
    font-size: 14px;
  }
}

.gallery {
  &__main {
    position: relative;
    overflow: hidden;
  }
  &__sphere {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 1s ease-out;
    &:hover {
      transform: rotate(360deg);
    }
  }
}

.map {
  padding: 0;
  &__wrap {
    height: 700px;
  }
}

.footer {
  background: url("../img/backgrounds/footer.png") 50% no-repeat, linear-gradient(45deg, $mainColorLight, $mainColorDark);
  background-size: cover;
  &__wrap {
    display: flex;
    padding: 50px 0;
  }
  &__info {
    font-size: 14px;
    color: #fff;
  }
  &__text {
    margin-top: 40px;
    display: inline-block;
    a {
      color: inherit;
    }
    &--decoration {
      width: 20px;
      background-color: #fff;
      margin: 0 5px 5px 5px;
      transform: rotate(90deg);
      display: inline-block;
      height: 1px;
      border: none;
    }
  }
  &__social {
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.contact-form {
  min-width: 770px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background: #fff url("../img/backgrounds/form_bg.png") 50% 100% no-repeat;
  margin: -300px auto 0;
  padding: 60px 60px 80px;
  position: relative;
  z-index: 5;
  &__wrap {
    flex-grow: 1;
    display: flex;
    padding-top: 50px;
  }
  &__info {
    line-height: 1.8em;
    svg {
      fill: $mainColorDark;
      width: 16px;
      height: 16px;
    }
  }
  &__contacts, &__form {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__submit {
    align-self: flex-end;
  }
  &__input {
    font: inherit;
    width: 100%;
    border: none;
    border-bottom: 1px solid $mainColorDark;
    padding: 0 0 20px;
    &:hover {
      box-shadow: 3px 3px 3px 3px $mainColorDark;
    }
  }
}